.keepScrollingContainer {
  position: fixed;
  right: calc(clamp(1.5rem, calc(-1.3rem + 14.01vw), 6rem) / 2);
  bottom: 1rem;
  z-index: 9000;
  display: grid;
  place-items: center;
  transform: rotate(-90deg);
  mix-blend-mode: difference;

  svg {
    mix-blend-mode: difference;

    circle {
      stroke: var(--secondary);
      mix-blend-mode: difference;
    }
  }

  button {
    position: absolute;
    transform: rotate(-90deg);
    cursor: pointer;
    mix-blend-mode: difference;

    svg {
      width: 20px;
      height: 20px;
      stroke: var(--secondary);
      mix-blend-mode: difference;
    }
  }
}
