  $color1: #ABF8FF;
$color2: #90BBBF;
$color3: #389CA6;

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.01);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    background: $color1;
  }

  50% {
    background: $color2;
  }

  100% {
    background: $color1;
  }
}


.loaderContainer {
  width: 100%;
  height: 100%;
  color: var(--black);
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 1450;
  touch-action: none;
  display: grid; 
  place-items: center;

.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

.hex-brick {
  background: $color1;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation: fade 2s infinite;
  @include fade;
}

.h2 {
  transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
}

.gel {
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;

  &.center-gel {
    margin-left: -15px;
    margin-top: -15px;
    animation: pulse 2s infinite;
  }

  &.c1 {
    margin-left: -47px;
    margin-top: -15px;
  }

  // ... (Repeat for other .c classes)

  &.c37 {
    margin-left: 81px;
    margin-top: -15px;
  }

  &.r1, &.r2, &.r3 {
    animation: pulse 2s infinite;
    animation-delay: 0.2s; // Adjust delay for each row
  }

  &.r1 > .hex-brick,
  &.r2 > .hex-brick,
  &.r3 > .hex-brick {
    animation: fade 2s infinite;
    animation-delay: 0.2s; // Adjust delay for each row
  }
}
}
