.scrollContainer {
  background: #292929af;
  position: fixed;
  width: 100%;
  height: 90dvh;
  bottom: 0;
  left: 50%;
  /* transform: translate(-50%, 50%); */
  transition: transform 1.5s ease;
  z-index: 9999;
  border-radius: 2rem 2rem 0 0;
  overscroll-behavior: none;
  background: rgba( 100, 255, 218, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );


  .singleProjectWrapper {
    position: relative;
    height: 100%;
    padding-bottom: 2rem;
  }

  .singleProjectHeader {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .singleProjectContent {
    margin-top: 1.5rem;
  }
}
