.singleProjectContainer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 50%;
  transition: transform 1.5s ease;
  z-index: 9999;
  border-radius: 2rem 2rem 0 0;
  overscroll-behavior: none;
  background: rgba(100, 255, 218, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: rgba(0, 0, 0, 0.95);
  }

  .singleProjectHeader {
    padding: 1.2rem calc(clamp(1.5rem, calc(-1.3rem + 14.01vw), 6rem) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerTitle {
      text-transform: uppercase;
      font-size: var(--fs-300);
      font-weight: 600;
    }

    a {
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: underline;
      cursor: pointer;
      transition: color 250ms ease;

      &:hover {
        color: var(--secondary);
      }
    }
  }

  .scrollContainer {
    height: 100%;
    overscroll-behavior: none;
    height: calc(90dvh - 5rem);
  }

  .singleProjectContent {
    padding-bottom: 2rem;

    h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-size: var(--fs-700);
    }

    .singleProjectMainScreen {
      width: 100%;
      height: min(200px, 100%);

      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
