.heroContainer {
  margin-top: rem(96);

  .heroTitle {
    margin-top: 9.5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--fs-800);
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.7rem;

    @media (max-width: 580px) {
      gap: 0.6rem;
    }
  }

  .heroAbout {
    margin-top: rem(20);
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    // flex-direction: column;
    flex-wrap: wrap;
    gap: 1.2rem;
    display: flex;
    line-height: 1.6;

    span {
      max-width: 331px;

      span {
        color: var(--secondary);
      }
    }

    a {
      position: relative;
      transition: color 250ms ease;
    }

    a::after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: var(--white);
      color: var(--white);
      width: 100%;
      left: 0;
      bottom: -0.7px;
      transition: background-color 250ms ease;
    }

    a:hover {
      color: var(--secondary);
    }

    a:hover::after {
      background-color: var(--secondary);
    }
  }
}
