@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre/Calibre-Light.woff2") format("woff2"),
    url("/assets/fonts/Calibre/Calibre-Light.woff") format("woff"),
    url("/assets/fonts/Calibre/Calibre-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre/Calibre-Regular.woff2") format("woff2"),
    url("/assets/fonts/Calibre/Calibre-Regular.woff") format("woff"),
    url("/assets/fonts/Calibre/Calibre-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre/Calibre-Medium.woff2") format("woff2"),
    url("/assets/fonts/Calibre/Calibre-Medium.woff") format("woff"),
    url("/assets/fonts/Calibre/Calibre-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre/Calibre-Semibold.woff2") format("woff2"),
    url("/assets/fonts/Calibre/Calibre-Semibold.woff") format("woff"),
    url("/assets/fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre/Calibre-LightItalic.woff2") format("woff2"),
    url("/assets/fonts/Calibre/Calibre-LightItalic.woff") format("woff"),
    url("/assets/fonts/Calibre/Calibre-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre/Calibre-RegularItalic.woff2") format("woff2"),
    url("/assets/fonts/Calibre/Calibre-RegularItalic.woff") format("woff"),
    url("/assets/fonts/Calibre/Calibre-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre/Calibre-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/Calibre/Calibre-MediumItalic.woff") format("woff"),
    url("/assets/fonts/Calibre/Calibre-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Calibre";
  src:
    url("/assets/fonts/Calibre/Calibre-SemiboldItalic.woff2") format("woff2"),
    url("/assets/fonts/Calibre/Calibre-SemiboldItalic.woff") format("woff"),
    url("/assets/fonts/Calibre/Calibre-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "SF Mono";
  src:
    url("/assets/fonts/SFMono/SFMono-Regular.woff2") format("woff2"),
    url("/assets/fonts/SFMono/SFMono-Regular.woff") format("woff"),
    url("/assets/fonts/SFMono/SFMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF Mono";
  src:
    url("/assets/fonts/SFMono/SFMono-Semibold.woff2") format("woff2"),
    url("/assets/fonts/SFMono/SFMono-Semibold.woff") format("woff"),
    url("/assets/fonts/SFMono/SFMono-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SF Mono";
  src:
    url("/assets/fonts/SFMono/SFMono-RegularItalic.woff2") format("woff2"),
    url("/assets/fonts/SFMono/SFMono-RegularItalic.woff") format("woff"),
    url("/assets/fonts/SFMono/SFMono-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "SF Mono";
  src:
    url("/assets/fonts/SFMono/SFMono-SemiboldItalic.woff2") format("woff2"),
    url("/assets/fonts/SFMono/SFMono-SemiboldItalic.woff") format("woff"),
    url("/assets/fonts/SFMono/SFMono-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

:root {
  // fonts sizes
  --fs-100: clamp(0.4722rem, 0.7132rem + -0.311vi, 0.651rem); // 10.4167px → 7.5556px
  --fs-200: clamp(0.7083rem, 0.8066rem + -0.1268vi, 0.7813rem); // 12.5px → 11.3333px
  --fs-300: clamp(0.9375rem, 0.894rem + 0.2174vi, 1.0625rem); // 15px → 17px 
  --fs-400: clamp(1.125rem, 0.962rem + 0.8152vi, 1.5938rem); // 18px → 25.5px
  --fs-500: clamp(1.35rem, 0.988rem + 1.8098vi, 2.3906rem); // 21.6px → 38.25px
  --fs-600: clamp(1.62rem, 0.9362rem + 3.419vi, 3.5859rem); // 25.92px → 57.375px
  --fs-700: clamp(1.944rem, 0.7493rem + 5.9738vi, 5.3789rem); // 31.104px → 86.0625px
  --fs-800: clamp(2.3328rem, 0.3378rem + 9.9749vi, 8.0684rem); // 37.3248px → 129.0938p

  //fonts family
  --ff-secondary: "SF Mono", sans-serif;
  --ff-base: "Calibre", sans-serif;
}

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1.6;
  font-family: var(--ff-base);
  font-size: var(--fs-300);
  font-weight: 400;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 600;
}
