.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  mix-blend-mode: difference;
  width: 100%;
  height: rem(96);

  text-transform: uppercase;
  transition: transform 1.5s ease;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .myImgContainer {
      border-radius: 50%;
      height: clamp(2.5rem, 2.2826rem + 1.087vi, 3.125rem);
      width: clamp(2.5rem, 2.2826rem + 1.087vi, 3.125rem);
      border: 2px solid hsl(0 0% 20%);
      transition: border-color 250ms ease;

      &:hover {
        border-color: var(--secondary);
      }

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.myInfoContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100dvh;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: rgba(0, 0, 0, 0.68);
  }
}

.myInfo {
  background-color: var(--black);
  width: min(600px, 98%);
  border: 2px solid hsl(0 0% 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  text-transform: none;

  div {
    width: clamp(15.6225rem, 13.4511rem + 10.869vi, 21.875rem);
    height: clamp(15.6225rem, 13.4511rem + 10.869vi, 21.875rem);
    border-radius: 50%;
    overflow: hidden;

    img {
      border-radius: 50%;
      border: 2px solid hsl(0 0% 20%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.calendlyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100dvh;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: rgba(0, 0, 0, 0.68);
  }
}

.calendlyContainer {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  height: 70dvh;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
}
