.contactContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .textContainer {
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    div {
      overflow: hidden;
      text-transform: uppercase;
      height: auto;
      width: 100%;
      display: grid;
      place-items: center;
      border-radius: 10px;

      p {
        mix-blend-mode: difference;
      }
    }

    .blackPage p {
     font-size: var(--fs-400);
     font-weight: 600;
     text-align: center;
     width: min(100%, 300px);
    }

    .whitePage {
      background-color: var(--white);
      height: 0px;
      position: absolute;

      p {
        text-wrap: nowrap;
        text-overflow: clip;
        white-space: nowrap;
        font-size: var(--fs-800);
        font-weight: 600;
        transform: translateY(100%);
      }
    }

    .fullWhitePage {
      position: absolute;
      left: 0;
      width: 100%;
      height: 0;
      background-color: var(--white);
      border-radius: 10px;
      z-index: -1;
    }
  }
}
