.contactMeContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  place-items: center;
  z-index: 1500;
  background: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
  background: rgba( 0, 0, 0, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );


  .contactMe {
    width: min(600px, 98%);
    background: black;
    border: 2px solid hsl(0 0% 20%);
    box-shadow: 0 0.5px hsl(0 0% 100% / 0.75) inset;
    padding: 2rem 1rem;
    border-radius: 12px;

    &:is(:focus-within) {
      background: hsl(0 0% 6%);
      outline: 1px solid hsl(0 0% 25%);
      box-shadow: 0 0.5px hsl(0 0% 100% / 1) inset;
    }

    ::placeholder {
      color: hsl(0 0% 40%);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      textarea,
      input {
        display: block;
        background: transparent;
        border: 0;
        border-bottom: 1px solid hsl(0 0% 40%);
        resize: none;
        outline: 1px solid transparent;
        font-size: 16px !important;
        cursor: default;
      }

      textarea {
        height: 8rem;
        border: 0;
        text-align: justify;
      }

      button,
      a {
        appearance: none;
        border: 0;
        background: transparent;
        aspect-ratio: 1;
        width: 35px;
        display: grid;
        place-items: center;
        border-radius: 0.5rem;
        cursor: pointer;
        padding: 0;
        transition:
          background 0.2s,
          color 0.2s;
        color: hsl(0 0% 40%);

        &:is(:hover, :focus-visible) {
          color: hsl(0 0% 90%);
          background: hsl(0 0% 25%);
        }
      }

      button {
        width: fit-content;
        padding: 0.5rem 1.5rem;
        height: auto;
        aspect-ratio: auto;
        font-size: var(--fs-400);
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }

  .contactTitle {
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;

    .email {
      color: var(--secondary);
    }

    .email:hover {
      text-decoration: underline;
    }
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap-reverse;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;

    svg {
      width: 50%;
      fill: currentcolor;
    }

    .linkedinSvg {
      width: 70%;
    }
  }
}
